main {
    flex: 0 1 70%;
}

image {
    display: block;
    width: 100%;
    height: auto;
}

aside {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    align-items: center;
    gap: 2em;

    background-color: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    padding: 2em;
}

article+article {
    margin-top: 2em;
}

section.content {
    flex-shrink: 1;
}

section.content {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    padding-top: 1em;
}

section.content h2 {
    order: 20;
}

section.content p {
    padding-bottom: 1em;
    color: gray;
}

/* Create giant quotes before the paragraph */

section.content::before {
    content: '"';
    font-size: 8em;
    line-height: 0.5;
}

/* Craete green circle */

section.avatar {
    width: 8em;
    flex-shrink: 0;
    display: flex;
    aspect-ratio: 1/1;
    background-color: green;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border: 3px solid white;
}

@media (max-width:800px) {

    aside {
        margin-top: 2em;
    }
}

@media (min-width:800px) {

    .container {
        max-width: 1100px;
        margin: 2em auto;
        display: flex;
        gap: 2em;
    }


    aside article {
        flex-grow: 1;
        flex-direction: column;
        align-items: start;

    }

    aside article section.avatar {
        width: 6em;
    }
}
