
article{
    background-color: rgb(173, 237, 240);
    border: 4px groove black
}
p{  
    
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color: coral;
    border: 4px  black;
    border-style:dotted;
}

.box1{
    border-radius: 2px;
    border: 5px groove black
}

.box2{
    border:20px solid blue;
    border-radius: 30px;
    padding: 20px;
    height: 200px;
    width: 200px;
}

/* Hover effect */

[class^="box"]:hover{
    background: black;
    color:white;
}

/*Turn red on click*/

[class^="box"]:active{
    background: red;
}


