* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 html {
    font:16px/1.5 Verdana,sans-serif;
 }

 body, form, button, input {
    font: inherit;
 }

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    
 }

.site-content {
    flex-grow: 1;
    display: flex;
}

 body > header,
 .site-content > main,
 .site-content > aside,
 body > footer {
    border: 2px solid black;
    padding: 2em;
 }

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
 }

nav ul {
    display: flex;
    gap: 2em;
}


nav ul li,
nav ul li a 
{
    display: block;
}


nav ul li a {
    padding: 0.5em 1em;
    text-decoration: none;
    background: lightgray;
    border-radius: 0.3em;
}

main {

    /* flex grow - 1, flex shrink - 1, flex-basis - 20ch */
    flex: 1 1 70%;
    padding-right: 2em;
}

aside {
    flex: 1 1 30%;
}

 footer {
    flex: 0 1 50%;
 }