* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Verdana,sans-serif;
}

body, div {
    font:inherit ;
}

h1,h2 {
    padding: 0.2em;
}

div.flex-direction-row {
    width: 400px;
    padding: 1em;
    margin: 0.5em;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
}

div.flex-direction-row-reverse {
    width: 400px;
    padding: 1em;
    margin: 0.5em;
    border: 2px solid blue;
    display: flex;
    flex-direction: row-reverse;
}

div.flex-direction-column {
    width: 400px;
    padding: 1em;
    margin: 0.5em;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

div.flex-direction-column-reverse {
    width: 400px;
    padding: 1em;
    margin: 0.5em;
    border: 2px solid blue;
    display: flex;
    flex-direction: column-reverse;
}

div.flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
}

